.single-product{
    margin-top: 80px;
    .col-lg-6{
        padding: 20px;

        img{
            padding: 0;
            box-shadow: 0 0 20px 0 rgb(194, 178, 171);
            border-radius: 15px;
        }
        .small-img-row{
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            .small-img-col{
                flex-basis: 23%;
                cursor: pointer;
                &:hover{
                    transform: scale(1.10);
                    transition: .3s;
                }
            }
        }
        .fa{
            color: rgba(35, 126, 7, 0.932);

        }
        
    }
    h4 h5{
        margin: 20px;
        font-size: 22px;
        font-weight: bold;
    }
    .product-price {
        color: rgb(226, 168, 21);
    }
    .product-offer{
        color:red;
    }
    select{
        display: block;
        padding: 10px;
        margin-bottom:30px;
        border-radius: 10px;
        box-shadow: 0 0 20px 0 rgb(194, 178, 171);
    }
    .adc{
        input{
            width: 60px;
            height: 40px;
            border-radius: 10px;
            text-align: center;
            padding-left: 10px;
            margin-right: 40px;
            margin-bottom: 30px;
            box-shadow: 0 0 20px 0 rgb(194, 178, 171);
            border: 1px solid grey;
        }
        .inp{
            
            box-shadow: 0 0 20px 0 rgb(194, 178, 171);
            border: 1px solid rgb(175, 151, 151);
            border-radius: 5px;
            height: 40px;
            width: 90px;
            text-align: center;
            padding-top: 7px;
            background-color: rgb(221, 199, 199);
            color: rgb(209, 15, 15);

            .bt{
                list-style: none;
                text-decoration: none;
                color: red;
                &:hover{
                    color: honeydew;
                }
            }
            &:hover{
                background-color: red;
                color: white;

            }
         }
    }
}
.relat{
    .p{
        padding-top: 15px;
    }
}
