
#header{
    position: relative;
    background: #000;
    top: 0;
    left: 0;
   z-index: 800;
   width: 100%;
     .navbar{
             .navbar-brand{
                 font-size: 2em;
                 }
                li{
               font-size: 1em;
               .dropdown-menu{
                   a{
                       color:#000
                   }
               }
               a{
                  color:rgb(226, 212, 212);
                      &:hover{
                      color:rgb(94, 146, 146)
                    }
                }
            }
     }

}
