
#header{
    position: absolute;
   z-index: 800;
   width: 100%;
     .navbar{
         .container{
             .navbar-brand{
                 font-size: 2em;
                 }
                li{
               font-size: 1em;
               a{
                  color:rgb(226, 212, 212);
                      &:hover{
                      color:rgb(94, 146, 146)
                    }
                }
            }
         }
     }

}
