*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    list-style: none;

}
.fa{
    color: goldenrod
}

@import '_header';
@import '_slider';
@import '_collection';
@import '_brand';
@import '_footer';
@import '_account';
@import '_anime';
@import '_cart';
@import '_details';
@import '_shop';
@import '_contact';
@import '_checkout';
